body {
	font-family: helvetica;
	background: #ab005e;
	color: white;
}

h1 {
	font-size: 1em;

}

.img-fluid {
	max-width: 60%
}

i {
	padding-right: 10px;
}

.banner {
	background: #fb7012;
}


.imgContainer {
	width: 100px;
}

#purelyWords {
	width: 300px;
	padding-top:15px;
}

.jumbotron {
	padding-bottom:0;
	margin-bottom:0;
	background: url("images/PurelyCapital_BackgroundExample2.jpg");
	background-size: cover;
}

.jumbotron.jumbotron-fluid {
	padding-top: 3%;
	padding-bottom: 3%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 20vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
}
.container {
	margin-top:3%;
}

#main {
	padding-top:3%;
}
p.lead {
	margin:0;
}

.display-4 {
	font-size: 3rem;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("images/PURELY_CAPITAL_ANIMATED_P_1920X1080.gif") 50% 50% #fff;
}
/*#address {
	text-decoration: none;
	color: white;
	opacity: 50%;
	font-size: 0.75em;
}*/

.regulated {
	margin-bottom:0;
}

#fca {
	width:100px;
	padding:0;
	margin:0;
}

footer {
	padding:0;
	margin:0;
	text-decoration: none;
	color: white;
	opacity: 0.5;
	font-size: 0.75em;
}

p {
	margin:0;
	padding:0;
	padding-bottom:5px;
	color: white;
	text-decoration: white;
}

.row {
	padding-bottom:10px;
}
