body {
	font-family: helvetica;
	background-image: url("images/background.png");
	color: white;
}

h1 {
	font-size: 1em;
	margin: 0;

}

.img-fluid {
	xmax-width: 60%
}

i {
	padding-right: 10px;
}

.banner {
	background: #fb7012;
}


.imgContainer {
	xwidth: 100px;
}

#purelyWords {
	width: 300px;
	padding-top:15px;
}

#purelyP {
	max-width: 80%
}
#sff-logo {
	max-width: 60%
}

.jumbotron {
	padding-bottom:0;
	margin-bottom:0;
	background: url("images/PurelyCapital_BackgroundExample2.jpg");
	background-size: cover;
}

.jumbotron.jumbotron-fluid {
	padding-top: 3%;
	padding-bottom: 3%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 20vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
}
.container {
	margin-top:3%;
}

#main {
	padding-top:3%;
}
p.lead {
	margin:0;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("images/PURELY_CAPITAL_ANIMATED_P_1920X1080.gif") 50% 50% #fff;
}
/*#address {
	text-decoration: none;
	color: white;
	opacity: 50%;
	font-size: 0.75em;
}*/

.regulated {
	margin-bottom:0;
}

#fca {
	width:100px;
	padding:0;
	margin:0;
}

footer {
	padding:0;
	margin:0;
	text-decoration: none;
	color: white;
	opacity: 0.5;
	font-size: 0.75em;
}

p {
	margin:0;
	padding:0;
	padding: 1%;
	color: #495057;
	text-decoration: white;
}

.row {
	xpadding-bottom:10px;
}

.column {
	width:50%;
	padding: 0 5%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {

  cursor: pointer;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  xcolor: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.list-group-item.active {
	background-color: white;
	color: black;
	border-color: white;
}

button:focus {
 outline: none;
}